body {
  display: flex;
  justify-content: center;

  height: 100vh;
  margin: 0;

  font-family: 'Open Sans', sans-serif;

  color: rgb(34, 34, 34);
  background: rgb(255, 255, 255);
}

#page {
  text-align: center;
}

h1 {
  margin-top: 2em;
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

ul {
  padding: 0;
}

ul li {
  margin: 0.5em;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1e5f95;
}

a:hover {
  color: #8b232f;
  text-decoration: underline;
}