body {
  display: flex;
  justify-content: center;

  height: 100vh;
  margin: 0;

  font-family: "Open Sans", sans-serif;

  color: rgb(34, 34, 34);
  background: rgb(255, 255, 255);
}

#page {
  width: 600px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3em 0;
}

header #name {
  text-align: right;
}

header img {
  width: 100px;
  border-radius: 50%;
}

h1 {
  font-size: 2em;
  margin: 0;
  color: #8e1818;
}

h2 {
  font-size: 1em;
}

h3 {
  color: #8e1818;
}

p {
  text-align: justify;
}

ul {
  padding: 0;
}

ul li {
  margin: 0.5em;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1e5f95;
}

a:hover {
  color: #8b232f;
  text-decoration: underline;
}

section:last-child {
  margin-bottom: 5em;
}